# Compiled Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
absensi-app

# Node / Frontend
node_modules/
frontend/node_modules/
.npm
npm-debug.log*

# Database & Uploads
data/*.db
data/*.db-journal

# OS / Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env
.env.local

# Logs
*.log

# Backups & Binaries
*.bin
absensidigital
absensidigital.exe
